<div class="column-layout inner-pages-header">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=5fdfefcda0f2d06be3b378700d990039&download" class="image" />
  <p class="text">
    Enjoy 20% off on all your weekend purchases
  </p>
</div>
<div class="row-layout content">
  <div class="column-layout group">
    <h5 class="h5">
      Shopping Cart
    </h5>
    <div class="row-layout group_1">
      <div class="column-layout group_2">
        <igx-list class="list">
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" size="large" class="avatar"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="row-layout group_3">
                <p class="text_1">
                  Gold Alternator 
                </p>
                <div class="row-layout group_4">
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="text_4">
                    $59.90
                  </p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon class="icon">
                remove_shopping_cart
              </igx-icon>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" size="large" class="avatar"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="row-layout group_3">
                <p class="text_1">
                  Tail Lamp Assembly
                </p>
                <div class="row-layout group_4">
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="text_4">
                    $19.50
                  </p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon class="icon">
                remove_shopping_cart
              </igx-icon>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" size="large" class="avatar"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="row-layout group_3">
                <p class="text_1">
                  Winter Tires Set
                </p>
                <div class="row-layout group_4">
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="text_4">
                    $41.50
                  </p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon class="icon">
                remove_shopping_cart
              </igx-icon>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" size="large" class="avatar"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="row-layout group_3">
                <p class="text_1">
                  Oil Filter
                </p>
                <div class="row-layout group_4">
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="text_4">
                    $49.50
                  </p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon class="icon">
                remove_shopping_cart
              </igx-icon>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=e085680e333431b86855ca29a4567964&download" size="large" class="avatar"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="row-layout group_3">
                <p class="text_1">
                  Headlight Assembly
                </p>
                <div class="row-layout group_4">
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="text_4">
                    $29.90
                  </p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon class="icon">
                remove_shopping_cart
              </igx-icon>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column-layout group_7">
        <h6 class="h6">
          Cart totals
        </h6>
        <div class="row-layout group_8">
          <p class="igx-typography__subtitle-2 content_1">
            Subtotal
          </p>
          <p class="content_2">
            $198.30
          </p>
        </div>
        <div class="row-layout group_8">
          <p class="igx-typography__subtitle-2 content_1">
            Shipping
          </p>
          <p class="content_2">
            $0
          </p>
        </div>
        <div class="column-layout group_9">
          <p class="igx-typography__body-2 text_7">
            Shipping will be calculated at checkout
          </p>
          <a target="_self" class="igx-typography__body-2 hyperlink">
            Estimate shipping
          </a>
        </div>
        <div class="row-layout group_10">
          <h6 class="content_1">
            Total
          </h6>
          <h6 class="content_2">
            $198.30
          </h6>
        </div>
        <div class="row-layout group_11">
          <button igxButton="flat" igxRipple class="button">
            PROCEED TO CHECKOUT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-layout sitemap">
  <div class="column-layout group_12">
    <p class="igx-typography__subtitle-2 text_1">
      Contact Us
    </p>
    <p class="igx-typography__body-2 text_1">
      1234 Street Name, CityName, ST
    </p>
    <p class="igx-typography__body-2 text_1">
       10520 United States
    </p>
    <p class="igx-typography__subtitle-2 text_5">
      Phone Number
    </p>
    <p class="igx-typography__body-2 text_1">
      1-234-567-8901
    </p>
  </div>
  <div class="column-layout group_13">
    <p class="igx-typography__subtitle-2 text_1">
      Help
    </p>
    <p class="igx-typography__body-2 text_1">
      FAQ
    </p>
    <p class="igx-typography__body-2 text_1">
      Returns
    </p>
    <p class="igx-typography__body-2 text_1">
      Coupons &amp; Discounts
    </p>
    <p class="igx-typography__body-2 text_1">
      Shipping &amp; Returns
    </p>
  </div>
  <div class="column-layout group_13">
    <p class="igx-typography__subtitle-2 text_1">
      About Us
    </p>
    <p class="igx-typography__body-2 text_1">
      Company Info
    </p>
    <p class="igx-typography__body-2 text_1">
      Press Releases
    </p>
    <p class="igx-typography__body-2 text_1">
      Careers
    </p>
    <p class="igx-typography__body-2 text_1">
      Reviews
    </p>
  </div>
  <div class="column-layout group_13">
    <p class="igx-typography__subtitle-2 text_1">
      Services
    </p>
    <p class="igx-typography__body-2 text_1">
      Buy Online
    </p>
    <p class="igx-typography__body-2 text_1">
      In-Store
    </p>
    <p class="igx-typography__body-2 text_1">
      Repair Help
    </p>
    <p class="igx-typography__body-2 text_1">
      Find a Repair Shop
    </p>
  </div>
  <div class="column-layout group_13">
    <p class="igx-typography__subtitle-2 text_1">
      Blog
    </p>
    <p class="igx-typography__body-2 text_1">
      Car Building Basics
    </p>
    <p class="igx-typography__body-2 text_1">
      Do it Yourself
    </p>
    <p class="igx-typography__body-2 text_1">
      Your Home Workshop
    </p>
    <p class="igx-typography__body-2 text_1">
      Advanced Building
    </p>
  </div>
</div>
<div class="row-layout footer">
  <p class="igx-typography__body-2 text_6">
    Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
  </p>
  <div class="row-layout group_14">
    <p class="igx-typography__body-2 text_8">
      Terms of Use
    </p>
    <p class="igx-typography__body-2 text_8">
      Privacy Policy
    </p>
    <p class="igx-typography__body-2 text_9">
      Site Map
    </p>
  </div>
</div>
