<div class="column-layout inner-pages-header">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=5fdfefcda0f2d06be3b378700d990039&download" class="image" />
  <p class="text">
    Enjoy 20% off on all your weekend purchases
  </p>
</div>
<div class="row-layout group">
  <div class="row-layout group_1">
    <div class="column-layout filters">
      <p class="igx-typography__subtitle-2 text_1">
        CATEGORY
      </p>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>General Body Parts</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Lighting</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Engine &amp; Drivetrain</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Break &amp; Suspension</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Interior</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Exterior</span>
        </igx-list-item>
      </igx-list>
      <a target="_blank" class="caption hyperlink">
        Show All
      </a>
      <p class="igx-typography__subtitle-2 text_1">
        BRAND
      </p>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Anzo</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Dorman</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Hella</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Keystone Collision</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Pilot Certified</span>
        </igx-list-item>
      </igx-list>
      <a target="_blank" class="caption hyperlink">
        Show All
      </a>
      <p class="igx-typography__subtitle-2 text_1">
        PRICE
      </p>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>$1 - $10</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>$10 - $20</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>$20 - $50</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>$50 - $100</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>$100 and Up</span>
        </igx-list-item>
      </igx-list>
      <a target="_blank" class="caption hyperlink">
        Show All
      </a>
    </div>
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <h5 class="h5">
          Newest Arrivals
        </h5>
        <div class="row-layout group_4">
          <p class="text_2">
            1-6 OF 202 RESULTS
          </p>
          <button igxButton="flat" igxRipple [igxToggleAction]="dropdown" class="user-input">
            <span>SORT BY</span>
            <igx-icon>
              keyboard_arrow_down
            </igx-icon>
          </button>
          <igx-drop-down #dropdown class="dropdown">
            <igx-drop-down-item>
              Newest Arrivals
            </igx-drop-down-item>
            <igx-drop-down-item>
              Featured
            </igx-drop-down-item>
            <igx-drop-down-item>
              Price: Low to High
            </igx-drop-down-item>
            <igx-drop-down-item>
              Price: High to Low
            </igx-drop-down-item>
            <igx-drop-down-item>
              Avg. Customer Review
            </igx-drop-down-item>
          </igx-drop-down>
        </div>
      </div>
      <div class="row-layout group_5">
        <igx-card type="outlined" routerLink="/master-view/product-details" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Gold Alternator
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $59.90
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Tail Lamp Assembly
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $19.90
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=940b0efc0c6ed3aeed61ab94c511b130&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Spark Plugs
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $11.00
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Oil Filters
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $24.50
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=aa09f1c4fc9828a4521fda5efef369ba&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Engine pistons and cog
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $32.90
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Winter tires set
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $44.50
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=e79340afa3b1578791ff2435cba9e150&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Carboxylic bumper
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $49.90
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=3855edeab898dc6fd88979a494fe7a46&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Battery
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $24.95
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=d542945ba3eee3126615a7033b935a0a&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Car Wheel
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $59.90
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=be1014a7507cf75e18eb419712019b92&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Chrome exhaust pipe
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $34.50
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=e085680e333431b86855ca29a4567964&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Headlight Assembly
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $49.50
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=65260c72f3d1f318fe3b31e823742c59&download" class="image_1" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Braking Discs
            </h3>
            <h5 igxCardHeaderSubtitle>
              This is a brief product description, not longer than 2 lines of text.
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">
              $21.99
            </h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button_1">
              <igx-icon>
                add_shopping_cart
              </igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
      </div>
      <div class="row-layout group_6">
        <div class="row-layout group_7">
          <button igxButton="flat" igxRipple class="user-input">
            <igx-icon>
              arrow_back
            </igx-icon>
            <span>PREVIOUS</span>
          </button>
          <igx-buttongroup class="user-input">
            <button igxButton="flat" igxRipple>
              1
            </button>
            <button igxButton="flat" igxRipple>
              2
            </button>
            <button igxButton="flat" igxRipple>
              3
            </button>
            <button igxButton="flat" igxRipple>
              4
            </button>
            <button igxButton="flat" igxRipple>
              5
            </button>
          </igx-buttongroup>
          <button igxButton="flat" igxRipple class="user-input">
            <span>NEXT</span>
            <igx-icon>
              arrow_forward
            </igx-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-layout sitemap">
  <div class="column-layout group_8">
    <p class="igx-typography__subtitle-2 text_3">
      Contact Us
    </p>
    <p class="igx-typography__body-2 text_3">
      1234 Street Name, CityName, ST
    </p>
    <p class="igx-typography__body-2 text_3">
       10520 United States
    </p>
    <p class="igx-typography__subtitle-2 text_4">
      Phone Number
    </p>
    <p class="igx-typography__body-2 text_3">
      1-234-567-8901
    </p>
  </div>
  <div class="column-layout group_9">
    <p class="igx-typography__subtitle-2 text_3">
      Help
    </p>
    <p class="igx-typography__body-2 text_3">
      FAQ
    </p>
    <p class="igx-typography__body-2 text_3">
      Returns
    </p>
    <p class="igx-typography__body-2 text_3">
      Coupons &amp; Discounts
    </p>
    <p class="igx-typography__body-2 text_3">
      Shipping &amp; Returns
    </p>
  </div>
  <div class="column-layout group_9">
    <p class="igx-typography__subtitle-2 text_3">
      About Us
    </p>
    <p class="igx-typography__body-2 text_3">
      Company Info
    </p>
    <p class="igx-typography__body-2 text_3">
      Press Releases
    </p>
    <p class="igx-typography__body-2 text_3">
      Careers
    </p>
    <p class="igx-typography__body-2 text_3">
      Reviews
    </p>
  </div>
  <div class="column-layout group_9">
    <p class="igx-typography__subtitle-2 text_3">
      Services
    </p>
    <p class="igx-typography__body-2 text_3">
      Buy Online
    </p>
    <p class="igx-typography__body-2 text_3">
      In-Store
    </p>
    <p class="igx-typography__body-2 text_3">
      Repair Help
    </p>
    <p class="igx-typography__body-2 text_3">
      Find a Repair Shop
    </p>
  </div>
  <div class="column-layout group_9">
    <p class="igx-typography__subtitle-2 text_3">
      Blog
    </p>
    <p class="igx-typography__body-2 text_3">
      Car Building Basics
    </p>
    <p class="igx-typography__body-2 text_3">
      Do it Yourself
    </p>
    <p class="igx-typography__body-2 text_3">
      Your Home Workshop
    </p>
    <p class="igx-typography__body-2 text_3">
      Advanced Building
    </p>
  </div>
</div>
<div class="row-layout footer">
  <p class="igx-typography__body-2 text_5">
    Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
  </p>
  <div class="row-layout group_10">
    <p class="igx-typography__body-2 text_6">
      Terms of Use
    </p>
    <p class="igx-typography__body-2 text_6">
      Privacy Policy
    </p>
    <p class="igx-typography__body-2 text_7">
      Site Map
    </p>
  </div>
</div>
